[main]
ambient_temp_sensor = 28-000005f8d181
temp_scale = Fahrenheit
logfile = ./garden_pi.csv
debug = False

[zone_1]
alias = Tomatoes
moisture_sensor_pin = 0
moisture_water_threshold = 75
relay_gpio = 0
temp_sensor_id = 28-000005f7ef51
watering_duration = 30
min_seconds_between_waterings = 120

[zone_2]
alias = Tomatoes, Onions and Rosemary
moisture_sensor_pin = 0
moisture_water_threshold = 75
relay_gpio = 1
temp_sensor_id = 28-000005f7ef51
watering_duration = 10
min_seconds_between_waterings = 100

[zone_3]
alias = Basil
moisture_sensor_pin = 0
moisture_water_threshold = 75
relay_gpio = 2
temp_sensor_id = 28-000005f7ef51
watering_duration = 20
min_seconds_between_waterings = 200

[zone_4]
alias = Mint
moisture_sensor_pin = 0
moisture_water_threshold = 75
relay_gpio = 3
temp_sensor_id = 28-000005f7ef51
watering_duration = 45
min_seconds_between_waterings = 1

